<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="modelQB" connectionString="Company File=D:\sample_product-based business.QBW;Password=March@123;User=agmca55@gmail.com;" providerName="System.Data.CData.QuickBooks" />

  </connectionStrings>
  <appSettings>
    <add key="QBCompanyFile" value="D:\QuickBooks-Sample-Comapny\sample_product-based business.QBW"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>